
*{
    box-sizing: border-box;

}

body{
    background-image: linear-gradient(to right, #2E1B86, #7723AC);
    font-family: 'Press Start 2P';
    margin-top: 20px;
    margin-bottom: 20px;
}

.scores{
    margin-top: 40px;
}
.board{
    display: flex;
    justify-content: center;
}
#gameboard {
    display: grid;
    margin-top: 150px;
    grid-template-columns: 100px 100px 100px;
    grid-template-rows: 100px 100px 100px;
}

/* Media query for larger devices */
@media (min-width: 768px) {
    #gameboard {
        grid-template-columns: 150px 150px 150px;
        grid-template-rows: 150px 150px 150px;
    }
}


.tile{
    border: 5px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 26px;
    font-weight: bold;
}

#turns{
    margin-top: 40px;
    margin-bottom: -80px;
    color: white;
    font-size: 32px;
}

#player1Score{
    color: red;
}
#player2Score{
    color: #FED338;
}
.player > h2{
    color: white;
}

#start{
    margin-top: 40px;
    margin-bottom: 40px;
}

#end{
    margin-top: 40px;
    margin-bottom: 40px;
}

.top{
    border-top: 0px;
}
.left{
    border-left: 0px;
}
.right{
    border-right: 0px;
}
.bottom{
    border-bottom: 0px;
}